@import "../../variables.scss";

app-header {
  .header-area.sticky-header {
    position: absolute;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .custom-title {
    font-size: 1.5rem;
    font-family: initial;
  }

  header {
    display: block;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container {
    max-width: 720px;
  }

  .header-area .container .navbar {
    padding: 20px 0;
  }

  .header-area .navbar {
    padding: 20px 30px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }

  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .header-area.is_sticky {
    background: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: fixed;
  }

  .header-area.sticky-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .signup-button {
      background-color: white;
      margin-left: 10px;
  }
}
