<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="custom-toolbar" [ngClass]="{'custom-white-toolbar': firstPage, 'custom-dark-toolbar': !firstPage}">
  <div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" (click)="goToHomepage()" class="app-title-cursor">
    <div class="custom-title" [ngClass]="{'dark-blue-bold-text': firstPage, 'white-bold-text': !firstPage}">{{ 'header.title' | translate | uppercase }}</div>
    <div [ngClass]="{'dark-text': firstPage, 'white-text': !firstPage}">{{ 'header.subtitle' | translate | uppercase}}</div>
  </div>
  <div fxLayout="row">
    <button mat-button [ngClass]="{'dark-text': firstPage, 'white-text': !firstPage}" (click)="openLoginDialog()" *ngIf="!user">{{ 'buttons.login' | translate | uppercase }}</button>
    <button mat-button [ngClass]="{'dark-text': firstPage, 'white-text': !firstPage}" (click)="openSignUpDialog()" *ngIf="!user">{{ 'buttons.signup' | translate | uppercase}}</button>
    <button mat-button [ngClass]="{'dark-text': firstPage, 'white-text': !firstPage}" (click)="goToDashboard()" *ngIf="user && user.type === 'admin'">{{ 'buttons.dashboard' | translate | uppercase}}</button>
    <button mat-button [ngClass]="{'dark-text': firstPage, 'white-text': !firstPage}" (click)="goToUserDetails()" *ngIf="user">Account</button>
    <button mat-button [ngClass]="{'dark-text': firstPage, 'white-text': !firstPage}" (click)="logOutUser()" *ngIf="user">{{ 'buttons.logout' | translate | uppercase}}</button>
  </div>
</mat-toolbar>
