@import "../../variables.scss";

app-header {
  .custom-toolbar {
    height: 75px;
    top: 0;
    z-index: 1;
    position: fixed;
    z-index: 2;

    .mat-icon {
      width: 100%;
      font-size: 50px;
      height: 100%;
    }
  }

  .custom-white-toolbar {
    background-color: $white;
  }

  .custom-dark-toolbar {
    background-color: $darkBlue;
  }

  .custom-title {
    font-size: 3vw;
  }

  .dark-text {
    color: $black;
  }

  .white-text {
    color: $white;
  }

  @media only screen and (max-width: 500px) {
    .app-title-cursor {
      visibility: hidden;
    }
  }
}
