<div class="general-info">
  <p><b>UniversityRating</b> respectă drepturile de proprietate intelectuală ale altora și solicită utilizatorilor
    serviciilor să
    facă același lucru. Dacă credeți că un anumit conținut, care apare pe hărțile rutiere în timp real ale
    UniversityRating, încalcă
    drepturile de autor pe care le dețineți sau le reprezentați, puteți trimite o notificare scrisă, în conformitate cu
    prevederile Digital Millennium Copyright Act ("DMCA").</p>
  <br>Pentru eficiență, notificarea dumneavoastră privind încălcarea presupusă trebuie să includă următoarele
  informații:
  <br>- O semnătură fizică sau electronică a unei persoane autorizate să acționeze în numele proprietarului unui drept
  exclusiv care se presupune că a fost încălcat;
  <br>- Identificarea operei protejate prin drepturi de autor, despre care se susține că a fost încălcată prin
  utilizarea
  site-ului web sau dacă mai multe lucrări protejate prin drepturi de autor sunt acoperite printr-o singură notificare,
  o
  listă reprezentativă a acestor lucrări;
  <br>- Identificarea materialului despre care se presupune că încalcă sau care face obiectul unei activități care
  încalcă
  drepturile și că accesul la acesta este dezactivat și informații suficient de rezonabile pentru a permite
  UniversityRating să
  localizeze materialul, inclusiv identificatorul exact al resurselor (Uniform Resource Identifier) ​​sau coordonatele
  pe
  hărțile Serviciului în care ați descoperit locul de muncă protejat prin drepturi de autor susținând că a fost
  încălcat;
  <br>- Informații suficiente pentru a permite UniversityRating să vă contacteze, cum ar fi o adresă, un număr de
  telefon și, dacă
  este disponibil, o adresă de poștă electronică la care puteți fi contactat;
  <br>- O declarație conform căreia aveți convingerea că utilizarea materialului în modul în care se plânge nu este
  autorizată de proprietarul drepturilor de autor, de agentul său sau de lege;
  <br>- O declarație conform căreia informațiile din notificare sunt corecte și sub sancțiunea pedepsei cu privire la
  faptul că sunteți autorizat să acționați în numele proprietarului unui drept exclusiv despre care se presupune că a
  fost
  încălcat.
  <br><br>După primirea comunicării, UniversityRating vă poate solicita să furnizați informații suplimentare, înainte de
  a elimina
  orice conținut afișat pe site, pe care UniversityRating îl consideră necesar pentru a respecta prevederile DMCA.
  <br><br>
  <p><b>Contra-notificare</b></p>
  Puteți să trimiteți o contra-notificare agentului pentru drepturile de autor. Pentru a fi eficient, contranotificarea
  dvs. trebuie să fie o comunicare scrisă furnizată agentului pentru drepturile de autor care include în mod substanțial
  următoarele:
  <br>- Semnătura dvs. fizică sau electronică;
  <br>- Identificarea materialului la care a fost dezactivat accesul și locația la care a apărut materialul înainte de
  accesul la acesta a fost dezactivată.
  <br>- O declarație sub sancțiunea sperjurului că aveți o credință de bună credință că materialul a fost dezactivat ca
  urmare a unei greșeli sau a unei identificări greșite a materialului care urmează să fie dezactivat;
  <br>- Numele dvs., adresa și numărul de telefon și o declarație conform căreia sunteți de acord cu jurisdicția Curții
  Districtuale Federale.
  <br><br>După primirea unei contranotificări, UniversityRating va furniza cu promptitudine persoanei care a trimis
  notificarea
  privind încălcarea drepturilor de autor cu o copie a contranotificării și va informa acea persoană că UniversityRating
  va înlocui
  materialul eliminat sau va înceta să dezactiveze accesul la materialul respectiv.
  <br><br>
  <p><b>Declarații false</b></p>
  În conformitate cu dispozițiile DMCA, orice persoană care prezintă în mod deliberat o eroare materială: (1) că
  materialul încalcă sau (2) materialul a fost eliminat sau dezactivat din greșeală sau prin identificarea greșită, va
  fi
  răspunzător pentru orice daune, inclusiv costurile și onorariile avocaților.
</div>
