<div fxLayoutAlign="center center">
  <mat-chip-list>
    <mat-chip>{{ 'categories-chips.universities' | translate | uppercase}}</mat-chip>
    <mat-chip>{{ 'categories-chips.faculties' | translate | uppercase}}</mat-chip>
    <mat-chip>{{ 'categories-chips.bachelors' | translate | uppercase}}</mat-chip>
    <mat-chip>{{ 'categories-chips.masters' | translate | uppercase}}</mat-chip>
    <mat-chip>{{ 'categories-chips.doctorals' | translate | uppercase}}</mat-chip>
  </mat-chip-list>
</div>

<div>
    <div fxLayout="row">
        <div fxLayout="column">erfver</div>
        <div fxLayout="column">esrgvev</div>
    </div>
</div>



<app-footer></app-footer>
