@import "../../variables.scss";

app-search {
  .is-hidden {
    display: none;
  }

  .custom-flex-filters {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 0px 20px;
  }

  mat-card.custom-filters {
    margin-right: 20px;
    max-width: min-content;

    mat-card-subtitle {
      font-weight: bold;
      color: $black !important;
    }
  }

  .results-cards {
    display: flex;
    flex-flow: wrap;
    margin: 0px 60px;

    .mat-card:hover {
      .mat-card-content {
        .logo-image {
          img {
            filter: none;
          }
        }
      }
    }

    .mat-card {
      width: 209px;
      display: flex;
      margin: 10px;
      flex-flow: column;
      align-items: center;

      .mat-card-content {
        display: flex;
        flex-flow: column;
        height: 100%;
        text-align: -webkit-center;
        align-content: center;

        .logo-image {
          height: 160px;

          img {
            max-width: 70%;
            max-height: 100%;
            filter: grayscale(100%);
          }

          img:first-child {
            margin-top: unset;
          }
        }

        .bottom-items {
          display: flex;
          flex-flow: column;
          justify-content: flex-end;
          align-self: center;
          height: 100%;

          app-editable-star-rating {
            align-self: center;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
