@import "../../variables.scss";

app-search {
  mat-card.custom-filters {
    margin-right: 20px;
    max-width: min-content;

    mat-card-subtitle {
      font-weight: bold;
      color: $black !important;
    }
  }

  .results-cards {
    display: flex;
    flex-flow: wrap;

    mat-card.custom-card:hover {
      .mat-card-image {
        filter: none;
      }
    }
  
    mat-card.custom-card {
      width: 20vw;
      height: 50vh;
      padding: 5px;
      margin-right: 20px;
      margin-bottom: 20px;
  
      .mat-button {
        background-color: $gradient2;
        color: $white;
      }
  
      .mat-card-content {
        text-align: center;
        padding: 16px;
        margin-bottom: 0px;
        display: flex;
        flex-flow: column;
        align-items: center;
      }
  
      .mat-card-image {
        filter: grayscale(100%);
        width: 160px;
      height: 160px;
      }
  
    }
  }

}
