<div class="custom-doughnuts">
  <app-doughnut-widget [data]="totalEducationLevel"></app-doughnut-widget>
  <app-doughnut-widget [data]="universityTypes"></app-doughnut-widget>
  <app-doughnut-widget [data]="usersSex"></app-doughnut-widget>
  <app-doughnut-widget [data]="usersGDPR"></app-doughnut-widget>
  <app-doughnut-widget [data]="courseVerificationType"></app-doughnut-widget>
  <app-doughnut-widget [data]="requestsStatuses"></app-doughnut-widget>
  <app-doughnut-widget [data]="facultiesPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="photosPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="bachelorsPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="mastersPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="doctoralsPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="facilitiesPerUniversity"></app-doughnut-widget>
  <app-bar-chart [data]="userAges"></app-bar-chart>
  <app-bar-chart [data]="facilitiesUsage"></app-bar-chart>
  <app-bar-chart [data]="classLevels"></app-bar-chart>
  <app-bar-chart [data]="schoolLevels"></app-bar-chart>
  <app-bar-chart [data]="userLocations"></app-bar-chart>
  <app-bar-chart [data]="universityLocations"></app-bar-chart>
  <app-bar-chart [data]="bachelorYears"></app-bar-chart>
  <app-bar-chart [data]="mastersYears"></app-bar-chart>
  <app-bar-chart [data]="doctoralsYears"></app-bar-chart>
</div>
