<div class="custom-doughnuts">
  <app-doughnut-widget [data]="totalEducationLevel"></app-doughnut-widget>
  <app-doughnut-widget [data]="universityTypes"></app-doughnut-widget>
  <app-doughnut-widget [data]="usersSex"></app-doughnut-widget>
  <app-doughnut-widget [data]="usersGDPR"></app-doughnut-widget>
  <app-doughnut-widget [data]="courseVerificationType"></app-doughnut-widget>
  <app-doughnut-widget [data]="requestsStatuses"></app-doughnut-widget>
  <app-doughnut-widget [data]="facultiesPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="photosPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="bachelorsPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="mastersPerUniversity"></app-doughnut-widget>
  <app-doughnut-widget [data]="doctoralsPerUniversity"></app-doughnut-widget>
</div>
