@import "../../variables.scss";

app-sigp-up-dialog {
  form {
    display: flex;
    flex-flow: column;
  }
  div.mat-dialog-actions {
    display: flex;
    justify-content: space-between !important;
  }
  .adminstration-info {
    color: $darkBlue;
  }
}

// TODO style
