<mat-tab-group mat-align-tabs="center">
  <!-- approved -->
  <mat-tab label="Approved">
    <mat-card fxLayout="column" *ngFor="let item of getData('approved')">
      <mat-card-content>
        <div class="custom-detail-field" *ngIf="item.status">
          <div class="custom-detail-field-title">
            status
          </div>
          {{ item.status }}
        </div>
        <div class="custom-detail-field" *ngIf="item.userId">
          <div class="custom-detail-field-title">
            userId
          </div>
          {{ item.userId }}
        </div>
        <div class="custom-detail-field" *ngIf="item.address">
          <div class="custom-detail-field-title">
            address
          </div>
          {{ item.address }}
        </div>
        <div class="custom-detail-field" *ngIf="item.descriptionUniversity">
          <div class="custom-detail-field-title">
            descriptionUniversity
          </div>
          {{ item.descriptionUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.nameUniversity">
          <div class="custom-detail-field-title">
            nameUniversity
          </div>
          {{ item.nameUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.phone">
          <div class="custom-detail-field-title">
            phone
          </div>
          {{ item.phone }}
        </div>
        <div class="custom-detail-field" *ngIf="item.typeUniversity">
          <div class="custom-detail-field-title">
            typeUniversity
          </div>
          {{ item.typeUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.websiteUniversity">
          <div class="custom-detail-field-title">
            websiteUniversity
          </div>
          {{ item.websiteUniversity }}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <!-- pending -->
  <mat-tab label="Pending">
    <mat-card fxLayout="column" *ngFor="let item of getData('pending')">
      <mat-card-content>
        <div class="custom-detail-field" *ngIf="item.status">
          <div class="custom-detail-field-title">
            status
          </div>
          {{ item.status }}
        </div>
        <div class="custom-detail-field" *ngIf="item.userId">
          <div class="custom-detail-field-title">
            userId
          </div>
          {{ item.userId }}
        </div>
        <div class="custom-detail-field" *ngIf="item.address">
          <div class="custom-detail-field-title">
            address
          </div>
          {{ item.address }}
        </div>
        <div class="custom-detail-field" *ngIf="item.descriptionUniversity">
          <div class="custom-detail-field-title">
            descriptionUniversity
          </div>
          {{ item.descriptionUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.nameUniversity">
          <div class="custom-detail-field-title">
            nameUniversity
          </div>
          {{ item.nameUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.phone">
          <div class="custom-detail-field-title">
            phone
          </div>
          {{ item.phone }}
        </div>
        <div class="custom-detail-field" *ngIf="item.typeUniversity">
          <div class="custom-detail-field-title">
            typeUniversity
          </div>
          {{ item.typeUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.websiteUniversity">
          <div class="custom-detail-field-title">
            websiteUniversity
          </div>
          {{ item.websiteUniversity }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="approve(item)">approve</button>
        <button mat-button (click)="decline(item)">decline</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <!-- declined -->
  <mat-tab label="Declined">
    <mat-card fxLayout="column" *ngFor="let item of getData('declined')">
      <mat-card-content>
        <div class="custom-detail-field" *ngIf="item.status">
          <div class="custom-detail-field-title">
            status
          </div>
          {{ item.status }}
        </div>
        <div class="custom-detail-field" *ngIf="item.userId">
          <div class="custom-detail-field-title">
            userId
          </div>
          {{ item.userId }}
        </div>
        <div class="custom-detail-field" *ngIf="item.address">
          <div class="custom-detail-field-title">
            address
          </div>
          {{ item.address }}
        </div>
        <div class="custom-detail-field" *ngIf="item.descriptionUniversity">
          <div class="custom-detail-field-title">
            descriptionUniversity
          </div>
          {{ item.descriptionUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.nameUniversity">
          <div class="custom-detail-field-title">
            nameUniversity
          </div>
          {{ item.nameUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.phone">
          <div class="custom-detail-field-title">
            phone
          </div>
          {{ item.phone }}
        </div>
        <div class="custom-detail-field" *ngIf="item.typeUniversity">
          <div class="custom-detail-field-title">
            typeUniversity
          </div>
          {{ item.typeUniversity }}
        </div>
        <div class="custom-detail-field" *ngIf="item.websiteUniversity">
          <div class="custom-detail-field-title">
            websiteUniversity
          </div>
          {{ item.websiteUniversity }}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>