<div *ngFor="let item of requests">
  <mat-card fxLayout="column">
    <mat-card-content>
        <div class="custom-detail-field" *ngIf="item.status">
            <div class="custom-detail-field-title">
              status
            </div>
            {{ item.status }}
          </div>
          <div class="custom-detail-field" *ngIf="item.userId">
            <div class="custom-detail-field-title">
              userId
            </div>
            {{ item.userId }}
          </div>
      <div class="custom-detail-field" *ngIf="item.address">
        <div class="custom-detail-field-title">
          address
        </div>
        {{ item.address }}
      </div>
      <div class="custom-detail-field" *ngIf="item.contact">
        <div class="custom-detail-field-title">
          contact
        </div>
        {{ item.contact }}
      </div>
      <div class="custom-detail-field" *ngIf="item.descriptionUniversity">
        <div class="custom-detail-field-title">
          descriptionUniversity
        </div>
        {{ item.descriptionUniversity }}
      </div>
      <div class="custom-detail-field" *ngIf="item.email">
        <div class="custom-detail-field-title">
          email
        </div>
        {{ item.email }}
      </div>
      <div class="custom-detail-field" *ngIf="item.facilitiesUniversity">
        <div class="custom-detail-field-title">
          facilitiesUniversity
        </div>
        {{ item.facilitiesUniversity }}
      </div>
      <div class="custom-detail-field" *ngIf="item.locationUniversity[0]">
        <div class="custom-detail-field-title">
          locationUniversity
        </div>
        {{ item.locationUniversity[0] }}
      </div>
      <div class="custom-detail-field" *ngIf="item.locationUniversity[1]">
        <div class="custom-detail-field-title">
          latitude
        </div>
        {{ item.locationUniversity[1] }}
      </div>
      <div class="custom-detail-field" *ngIf="item.locationUniversity[2]">
        <div class="custom-detail-field-title">
          longitude
        </div>
        {{ item.locationUniversity[2] }}
      </div>
      <div class="custom-detail-field" *ngIf="item.logoUniversity">
        <div class="custom-detail-field-title">
          logoUniversity
        </div>
        {{ item.logoUniversity }}
      </div>
      <div class="custom-detail-field" *ngIf="item.nameUniversity">
        <div class="custom-detail-field-title">
          nameUniversity
        </div>
        {{ item.nameUniversity }}
      </div>
      <div class="custom-detail-field" *ngIf="item.phone">
        <div class="custom-detail-field-title">
          phone
        </div>
        {{ item.phone }}
      </div>
      <div class="custom-detail-field" *ngIf="item.photosUniversity">
        <div class="custom-detail-field-title">
          photosUniversity
        </div>
        {{ item.photosUniversity }}
      </div>
      <div class="custom-detail-field" *ngIf="item.typeUniversity">
        <div class="custom-detail-field-title">
          typeUniversity
        </div>
        {{ item.typeUniversity }}
      </div>
      <div class="custom-detail-field" *ngIf="item.websiteUniversity">
        <div class="custom-detail-field-title">
          websiteUniversity
        </div>
        {{ item.websiteUniversity }}
      </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="approve(item)" *ngIf="item.status != 'approved'">approve</button>
        <button mat-button (click)="decline(item)" *ngIf="item.status === 'pending'">decline</button>
    </mat-card-actions>
  </mat-card>
</div>
