$background: #17005b12;
$white: white;
$darkBlue: #17005b;
$lightGrey: #adadad;
$black: black;
$gold: #dfa236;
$gradient1:  #74d4f5;
$gradient2:  #410efd;
// ------------
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;