<mat-card class="custom-card-comment" *ngIf="review.status === 'approved'">
  <mat-card-content class="custom-card-comment-content">
    <img src="{{ userData?.image }}" class="custom-avatar-image" *ngIf="userData?.image">
    <img src="assets/account.png" class="custom-avatar-image" *ngIf="!userData?.image">
    <div *ngIf="!editable" class="custom-card-content">
      <div class="comment-header">
        <div class="name">
          {{ userData?.name }} {{ userData?.surname }}
          <div class="date">
            &nbsp;- {{ review.date }}
          </div>
        </div>
        <div>
          <!-- <mat-icon *ngIf="editable" (click)="editComment()" class="cursor-pointer">create</mat-icon> -->
        </div>
      </div>
      <div class="stars">
        <app-editable-star-rating *ngIf="review.stars" [stars]="review.stars" [editable]="editable">
        </app-editable-star-rating>
      </div>
      <div class="comment">
        {{ review.comment }}
      </div>
    </div>
    <div *ngIf="editable" class="editable-content">
      <div class="name">
        {{ user?.name }} {{ user?.surname }}
      </div>
      <div class="stars">
        <app-editable-star-rating [stars]="review.stars" [editable]="editable"
          (setStarsEmitter)="setStarsForEditableComment($event)"></app-editable-star-rating>
      </div>
      <div class="comment">
        <textarea matInput [(ngModel)]="commentText"></textarea>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="editable">
    <button mat-button (click)="addComment()" [disabled]="!commentText">Send comment</button>
  </mat-card-actions>
</mat-card>
<mat-card class="custom-card-comment" *ngIf="review.status === 'pending' && user.id === review.userId">
  <mat-card-content>
    Your comment seems to be negative. We will review it and it is possible an admin of the application to reach you if
    it it required in order to confirm that your comment it's not a spam. Thank you for your understanding.
  </mat-card-content>
</mat-card>