<button mat-stroked-button (click)="goToRequestPage('new')" *ngIf="!requestActive">Activeaza cont universitar</button>
<mat-card *ngIf="requestActive">
  <mat-card-title>
    {{ requestStatus}}
  </mat-card-title>
  <mat-card-subtitle *ngIf="requestStatus === 'declined'">
    {{ requestMessage}}
  </mat-card-subtitle>
  <mat-card-actions *ngIf="requestStatus === 'declined'">
    <button mat-stroked-button (click)="goToRequestPage('new')">Send new request</button>
    <button mat-stroked-button (click)="goToRequestPage('draft')">Modify and resend the last request</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="requestStatus === 'approved'">
    <button mat-stroked-button (click)="goToUniversityPage()">View and edit your university</button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    Profile details
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'signup_dialog.name' | translate }}" [(ngModel)]="name" type="text"
        [disabled]="!canEdit">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'signup_dialog.surname' | translate }}" [(ngModel)]="surname" type="text"
        [disabled]="!canEdit">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'signup_dialog.birthday' | translate }}" [(ngModel)]="birthday" type="date"
        [disabled]="!canEdit">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'signup_dialog.sex' | translate }}</mat-label>
      <select matNativeControl [(ngModel)]="sex" [disabled]="!canEdit">
        <option value="M">{{ 'signup_dialog.male' | translate }}</option>
        <option value="F">{{ 'signup_dialog.female' | translate }}</option>
      </select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="canEdit = !canEdit" *ngIf="!canEdit">Edit details</button>
    <button mat-stroked-button (click)="saveNewDetails()" *ngIf="canEdit">Save</button>
  </mat-card-actions>
</mat-card>