@import "../../variables.scss";

app-editable-star-rating {
  display: flex;
  justify-content: center;
  text-align: center;

  .green {
    color: $success;
  }
  .yellow {
    color: $warning;
  }
  .red {
    color: $danger;
  }
}
