@import "../../../variables.scss";

app-faculty {

  .custom-faculty-header {
    padding-top: 30px;

    .mat-card-image {
      width: 200px;
    }
  }

  .custom-detail-field {
    padding-bottom: 10px;

    li {
      list-style-type: none;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    .custom-detail-field-title {
      font-weight: bold;
      padding-bottom: 5px;
    }
  }

  .mat-tab-body {
    margin: 20px;
  }
}
