@import "../../../variables.scss";

app-faculty {

  .custom-faculty-header {
    padding-top: 30px;

    .mat-card-image {
      width: 200px;
    }

    .name-and-logo {
      text-align: center;
      display: flex;
      flex-flow: column;
    }
  }

  .mat-tab-body {
    margin: 20px;
  }
}
