/* You can add global styles to this file, and also import other style files */
@import './app/variables.scss';

html,
body {
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background;
}

.cursor-pointer {
  cursor: pointer;
}

button {
  max-width: fit-content;
}

.white-bold-text {
  color: $white;
  font-weight: bold;
}

.dark-blue-bold-text {
  color: $darkBlue;
  font-weight: bold;
}

.white-text {
  color: $white;
}

.mat-card {
  border-radius: 0px !important;
}

.grey-text {
  color: $lightGrey;
}

.app-title-cursor {
  cursor: pointer;
}

.gradient-background {
  background: linear-gradient(90deg, rgba(149, 91, 7, 1) 0%, rgba(201, 138, 25, 1) 35%, rgba(223, 162, 54, 1) 100%);
}

.large-font {
  font-size: 5vw;
}

.white-text-button {
  color: $white;
}

.general-info {
  padding: 20px;
}

.custom-error {
  color: red;
  font-size: smaller;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.material-icons {
  font-size: unset;
}

.mat-icon {
  height: auto !important;
  width: auto !important;
}
.custom-icon {
  padding-left: 5px;
}

.custom-icon:hover {
  color: $gold;
}

.mat-chip.mat-standard-chip::after {
  background: transparent; 
}

.custom-detail-field {
  padding-bottom: 10px;

  li {
    list-style-type: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .custom-detail-field-title {
    font-weight: bold;
    padding-bottom: 5px;
  }
}

.custom-top-right-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}