/* You can add global styles to this file, and also import other style files */
@import './app/variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background;
}

button {
  max-width: fit-content;
}

.white-bold-text {
  color: $white;
  font-weight: bold;
}

.dark-blue-bold-text {
  color: $darkBlue;
  font-weight: bold;
}

.white-text {
  color: $white;
}

.mat-card {
  border-radius: 0px !important;
}

.grey-text {
  color: $lightGrey;
}

.app-title-cursor {
  cursor: pointer;
}

.gradient-background {
  background: linear-gradient(90deg, rgba(149,91,7,1) 0%, rgba(201,138,25,1) 35%, rgba(223,162,54,1) 100%);
}

.large-font {
  font-size: 5vw;
}

.white-text-button {
  color: $white;
}

.general-info {
  padding: 20px;
}